#content{
  width: 100%;
  display: block;
  position:  relative;
}
#sub_content{
  width: 295px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}
#input{
  display: inline-block;
  width: 100px;
}
body{
  background-color: #404040;
}
